* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  background: ghostwhite;
  color: #332a60;
}

header {
  text-align: center;
  color: black;
  font-size: 22px;
}

h1 {
  font-size: 44px;
  margin-bottom: -10px;
}

form {
  padding: 2em;
  margin: 2em auto;
  max-width: 600px;
  min-width: 400px;
  border-radius: 6px;
  box-shadow: 8px 8px hsl(240deg 67% 90%);
  background-color: lavender;
}

fieldset {
  margin: 1em 0;
  padding: 0;
  border: none;
}

label {
  display: block;
}

input,
select,
textarea {
  width: 100%;
  min-height: 2em;
  margin-top: .5em;
  resize: vertical;
  background: white;
  border-radius: 5px;
}

.submit {
  margin: 1rem 0;
  height: 3em;
  font-size: 16px;
  font-weight: 700;
  background: #b3b3f3;
  border: 1px solid black;
}

.submit:hover {
  background: ghostwhite;
}

.submit:active {
  border: none; 
}

.drop-shadow {
  border: none;
  box-shadow: 4px 4px #d4d4f7;
  padding: .5em;
}

.drop-shadow:focus {
  outline: 1px solid black;
}

.input-container {
  margin-top: 0;
}

.input-container > label {
  margin: 1em 0;
}

.radio-container > label,
.checkbox-container > label {
  margin-top: 5px;
  font-size: 15px;
}

.checkbox-container,
.radio-container {
  margin-bottom: 1em;
}

.radio,
.checkbox {
  width: unset;
  margin: 0 .5rem 0 0;
  vertical-align: middle;
}

.container-header {
  margin: 0 0 10px 0;
}
