* {
  box-sizing: border-box;
}

body {
  background: teal;
  font-family: monospace, sans-serif;
  margin: 3em auto;
}

h1,
h2,
header > p,
footer > p {
  text-align: center;
}

h1,
h2 {
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  margin: 26px 0 16px;
}

h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

header > p {
  font-family: serif, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 32px;
}

footer > p {
  font-family: serif;
  margin-bottom: 26px;
  font-size: 16px;
}

a {
  color: black;
}

a:hover {
  color: teal;
}

section {
  margin: 26px 0;
}

hr {
  height: 3px;
  background: teal;
  border-color: black;
}

img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.container {
  background: honeydew;
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border: 10px outset grey;
}

.item > p {
  display: inline-block;
  margin: 0;
}

.item {
  margin: .5rem 0;
  border-bottom: 1px dotted black;
}

.fruit,
.veggie {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}

/*
.item,
.price {
  margin-left: auto;
  margin-right: auto;
}

.item, {
  width: 49%;
}

.price {
  width: 49%;
}
*/
