* {
  box-sizing: border-box;
}

body {
  background: teal;
}

h1,
h2,
header > p {
  text-align: center;
}

main {
  background: honeydew;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid black;
}

.item > p {
  display: inline-block;
}

.fruit,
.veggie {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}

/*
.item,
.price {
  margin-left: auto;
  margin-right: auto;
}

.item, {
  width: 49%;
}

.price {
  width: 49%;
}
*/
