@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Fixes */

body,
ul,
.header,
.footer,
.content {
  display: flex;
}

body,
.content {
  flex-direction: column;
}

body,
.header,
.footer {
  justify-content: space-between;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: grey;
}

.header,
.footer {
  padding: 16px;
}

.footer {
  background: #eeeeee;
}

.content {
  /* seems to work without these two
  flex: 1;
  justify-content: center;
  */
  align-items: center;
} 

button {
  padding: 8px 16px;
}
